.input-wrap{
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.input-wrap input{
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 100%;
}